[Oo]bj
[Bb]in
[Rr]ealse
[Dd]ebug
./Resharp*
Thumbs.db
cmd.exe
Git Bash.lnk
*.docstates.suo
*.suo
*.user
[Tt]est[Rr]esults
*.dep
*.aps
*.vbw
*.obj
*.ncb
*.plg
*.bsc
*.ilk
*.exp
*.sbr
*.opt
*.pdb
*.idb
*.pch
*.res
*.*.sw*
.DS_Store
node_modules
.idea
*.iml
npm-debug.log
*.psess
*.vsp
*.ipr
*.iws
/.project
