.container-full {
	margin: 0 auto;
	width: 100%;
	padding-left: 25px;
	padding-right: 25px;
}

body {
	background-color: #272B30;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: kenzo;
	text-align: left;
}

a {
	cursor: pointer;
}

@font-face {
	font-family: 'kenzo';
	src: url('../fonts/kenzo.eot');
	src: url('../fonts/kenzo.eot?#iefix') format('embedded-opentype'), url('../fonts/kenzo.woff') format('woff'), url('../fonts/kenzo.ttf') format('truetype');
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
	white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	max-width: 280px;
}

/* Custom */

html * {
	font-family: kenzo !important;
}

.navbar-space {
	padding-left: 20px !important;
	padding-right: 20px !important;
}

/* Build monitor --------------------------------------------------------------------------------- */

.projectRow {
	clear:both;
}
.projectTitle {
	color: #777;
	margin-top: -12px;
	display: inline-block;
}

.buildTitle {
	font-size: 30px;
	color: #eee;
	margin-top: -5px;
}

.automation-gauge .buildTitle {
	text-align: center;
	margin-bottom: 20px;
}

.buildInfo {
	margin-top: -8px;
	margin-bottom: -3px;
	color: #777;
}

.buildInfoHighlight {
	color: #999;
}

.buildInfoBranch {
	font-size: 20px;
	color: #777;
	margin-bottom: 2px;
}

.automation-gauge .buildInfoBranch {
	margin-top: 15px;
	text-align: center;
}

.buildInfoProgressHighlight {
	-webkit-animation-name: pulsate; /* Chrome, Safari, Opera */
	-webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
	-webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
	animation-name: pulsate;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.text-cutoff {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.status-None {
	font-family: kenzo;
	font-size: 75px;
	color: #BBB;
	margin-top: -20px;
	margin-bottom: -5px;
}

.status-Success {
	font-family: kenzo;
	font-size: 75px;
	color: #A9E800;
	margin-top: -20px;
	margin-bottom: -5px;
}

.status-Failure {
	font-family: kenzo;
	font-size: 75px;
	color: #FB1B45;
	margin-top: -20px;
	margin-bottom: -5px;
}

.status-Error {
	font-family: kenzo;
	font-size: 75px;
	color: #FB1B45;
	margin-top: -20px;
	margin-bottom: -5px;
}

.status-Running {
	font-family: kenzo;
	font-size: 75px;
	margin-top: -20px;
	margin-bottom: -5px;
	-webkit-animation-name: pulsate; /* Chrome, Safari, Opera */
	-webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
	-webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
	animation-name: pulsate;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.loader-charts {
	font-family: kenzo;
	font-size: 14px;
	margin-top: -15px;
	-webkit-animation-name: pulsate; /* Chrome, Safari, Opera */
	-webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
	-webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
	animation-name: pulsate;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes pulsate {
	0% {
		color: #CFC291;
	}

	50% {
		color: #FFF6C5;
	}

	100% {
		color: #CFC291;
	}
}

/* Color animation */
@keyframes pulsate {
	0% {
		color: #CFC291;
	}

	50% {
		color: #FFF6C5;
	}

	100% {
		color: #CFC291;
	}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes pulsate2 {
	0% {
		color: #FB1B45;
	}

	50% {
		color: #ff8686;
	}

	100% {
		color: #FB1B45;
	}
}

/* Color animation */
@keyframes pulsate2 {
	0% {
		color: #FB1B45;
	}

	50% {
		color: #ff8686;
	}

	100% {
		color: #FB1B45;
	}
}

.span-chart {
	color: #777;
}

.space {
	padding-left: 20px;
}

.update-failure {
	color: #FB1B45;
}

/* Tests charts */


#test_history_chart {
	width: 69%; 
	height: 450px; 
	float: left;
}

#test_latest_chart {
	width: 30%; 
	height: 450px; 
	float: left;
	opacity: 0.8;
}

.pie-chart{
	height: 300px; 
}

/* Last update warning overlay --------------------------------------------------------------------------------- */

#lastUpdateWarning.overlay {
	background-color: #272b30; 
	margin: auto; 
	position: absolute; 
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0; 
	z-index: 10; 
}

#lastUpdateWarning .message {
	background-color: #1c1e22; 
	border: 1px solid #0c0d0e; 
	border-radius: 4px;
	margin: 200px; 
	padding: 100px; 
	color: #fb1b45; 
	text-align: center; 
	font-size: 60px; 
}
