<?xml version="1.0" encoding="utf-8"?>
<appSettings>
	<!-- TODO: Set up TeamCity credentials here -->
	<add key="teamcity_username" value="set_your_username" />
	<add key="teamcity_password" value="set_your_password" />
	<add key="teamcity_api_url" value="http://set_your_teamcity_url" />

	<!-- TeamCity REST API paths (don't modify) -->
	<add key="teamcity_api_projects" value="/httpAuth/app/rest/projects" />
	<add key="teamcity_api_buildtypes" value="/httpAuth/app/rest/buildTypes" />
	<add key="teamcity_api_buildstatus" value="/httpAuth/app/rest/buildTypes/id:{0}/builds/branch:{1}" />
	<add key="teamcity_api_runningbuilds" value="/httpAuth/app/rest/builds?locator=running:true,branch:(default:any)" />
	<add key="teamcity_api_buildqueue" value="/httpAuth/app/rest/buildQueue" />

	<add key="teamcity_api_builds" value="/httpAuth/app/rest/buildTypes/id:{0}/builds" />
	<add key="teamcity_api_build" value="/httpAuth/app/rest/builds/id:{0}" />

	<!-- ASP.NET settings (don't modify) -->
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>