<?xml version="1.0" encoding="utf-8"?>
<Settings>
	<Groups>
		<Group name="Builds">
			<Jobs>
				<Job id="Teamcity_job_id_1" />
				<Job id="Teamcity_job_id_2" text="custom display name" />
			</Jobs>
		</Group>
		<Group name="Tests">
			<Jobs>
				<Job id="Teamcity_job_id_3" text="unit tests" />
				<Job id="Teamcity_job_id_4" text="integration tests" />
			</Jobs>
		</Group>
	</Groups>
</Settings>