@using BuildMonitor.Models.Home.Settings
<div class="projectRow">
	<h3 class="projectTitle">▪▪▪ @Settings.Current.StatisticsPie.Name ▪▪▪</h3>

	<div class="row">
		<div class="col-lg-12">
			<div class="well clearfix">
				<div id="statistics_chart" data-build-configuration-id="@Settings.Current.StatisticsPie.BuildConfigurationId"></div>
			</div>
		</div>
	</div>
</div>