<div class="projectRow">
	<h3 class="projectTitle">▪▪▪ End-to-end tests on DEV ▪▪▪</h3>
</div>
<div class="well clearfix">
	<div id="test_history_chart"></div>
	<div id="test_latest_chart"></div>
</div>