@using BuildMonitor.Models.Home.Settings
<div class="projectRow">
	<h3 class="projectTitle">▪▪▪ @Settings.Current.Tests.Text ▪▪▪</h3>
	
	<div class="row">
		<div class="col-lg-12">
			<div class="well clearfix">
				<div id="test_history_chart"></div>
				<div id="test_latest_chart"></div>
			</div>
		</div>
	</div>
</div>
