@model BuildMonitor.Models.Home.BuildMonitorViewModel
@{
	ViewBag.Title = "Build Monitor";
}

@foreach (var project in Model.Projects)
{
	if (project.Builds.Count == 0)
	{
		continue;
	}

	<div class="projectRow">
		<h3 class="projectTitle">▪▪▪ @project.Name ▪▪▪</h3>
		<div class="row">
			@foreach (var build in project.Builds)
			{
				@Html.Partial("~/Views/Shared/_BuildItem.cshtml", build);
			}
		</div>
	</div>
}

@section BottomLane {
	@{ Html.RenderPartial("_Tests"); }
	@{ Html.RenderPartial("_StatisticsPie"); }
}

@section scripts {
	<script src="https://www.gstatic.com/charts/loader.js"></script>
	@Scripts.Render("~/bundles/home")
}