@model BuildMonitor.Models.Home.MainMonitorViewMod
@{
	ViewBag.Title = "Build Monitor";
}

@foreach (var project in Model.BuildMonitor.Projects)
{
	if (project.Builds.Count == 0)
	{
		continue;
	}

	<div class="projectRow">
		<h3 class="projectTitle">▪▪▪ @project.Name ▪▪▪</h3>
		<div class="row">
			@foreach (var build in project.Builds)
			{
				@Html.Partial("~/Views/Shared/_BuildItem.cshtml", build);
			}
		</div>
	</div>
}

@section scripts {
	@Scripts.Render("~/bundles/home")
}